.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	max-height: 30vh;
	background-color: rgba(218, 165, 32, 0.6);
}

.stats{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title {
	font-size: 2em !important;
	border-bottom: 1px solid black;
}